
	<p>
		<strong><%= comment.commenter.capitalize %>:</strong>  
		'<%= comment.body.capitalize %>'
	</p>
	<p>
		<%= link_to 'Delete Comment', [comment.article, comment],
						method: :delete,
						data: { confirm: 'Are you sure?'  } %>
	</p>


