<p>   
	<strong><%= picture.title.capitalize %>:</strong>  
	<br>
	<%= image_tag image_url(picture.url) %>
	<br>
	<%= link_to 'Delete Picture', [picture.article, picture],
		method: :delete,
		data: { confirm: 'Are you sure?'  }, class: "btn btn-danger btn-sm" %>
</p>