 <div class="row">
	<div class="col-xs-12 col-md-8">
		<%= link_to image_tag("about.jpg", :alt => "about"), "https://www.instagram.com/zaraheadie" %>
	</div>
	<div class="col-xs-6 col-md-4">
		<p>Zarah is an aspiring product manager and software engineer from Belfast in Northern Ireland. She wrote this blog in Ruby on Rails 4 and created all the graphics from scratch in Photoshop. On top of being a software engineer she is a product designer, UX ambassador, and innovator with a strong entrepreneurial streak. </p>
		<p>She is not usually seen without a cup of coffee or peach green tea in her hand, and one day dreams of owning a double figure of puppers. Her life goal is to create a product that millions of people will use and love.</p>
	</div>
</div>
