 <div class="row">
		<p>Zarah is an aspiring product manager and software engineer from Belfast in Northern Ireland. She wrote this blog in Ruby on Rails 4 and created the graphics from scratch in Photoshop. As well as being a software engineer she also designs products, is a UX ambassador, and an innovator with an entrepreneurial streak. </p>
</div>
