@import "bootstrap";

/* Logo */

.logo:hover
{
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
}

/* Navigation bar */

#navbar-primary .navbar-nav { 
//  background: #ededed;
  width: 100%;
  text-align: center;
  > li {
    display: inline-block;
    float: none;
    > a {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}

/* Header */

header a {
  color: #000;
  font-family: 'Homemade Apple', cursive;
}

header a:hover {
  color: #222;
}

/* Footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  color: #777;
}

footer a {
  font-family: 'Quicksand', sans-serif;
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  font-family: 'Quicksand', sans-serif;
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* Heading text */

h1 {
  color: #000;
  font-family: 'Homemade Apple', cursive;
}

h2 {
  color: #000;
  font-family: 'Homemade Apple', cursive;
}

/* Body text */

p {
  color: #000;
  font-family: 'Quicksand', sans-serif;
}
