<footer class="footer">
  <small>
    © 2016 Zarah Eadie  
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="https://github.com/ZarahEadie">My GitHub Profile</a></li>
    </ul>
  </nav>
</footer>