  
  <header role="banner">
<nav id="navbar-primary" class="navbar" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->

      <ul class="nav navbar-nav">

      <div class="logo">
              <%= link_to image_tag("waves.jpg", :alt => "name", :size => "200x200"), controller: 'welcome'  %>
            </div>

        <li class="active"><%= link_to "Home", controller: 'welcome' %></li>
        <li><%= link_to "Blog", controller: 'articles'%></li>
        <li><%= link_to "About", about_path %></li>

      </ul>

  </div><!-- /.container-fluid -->
</nav>
</header><!-- header role="banner" -->

